@model Miad_api.Models.Maids

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Maids</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="maid_Id" class="control-label"></label>
                <input asp-for="maid_Id" class="form-control" />
                <span asp-validation-for="maid_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="maid_Name" class="control-label"></label>
                <input asp-for="maid_Name" class="form-control" />
                <span asp-validation-for="maid_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="maid_Age" class="control-label"></label>
                <input asp-for="maid_Age" class="form-control" />
                <span asp-validation-for="maid_Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="maid_Exp" class="control-label"></label>
                <input asp-for="maid_Exp" class="form-control" />
                <span asp-validation-for="maid_Exp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="maid_mod_no" class="control-label"></label>
                <input asp-for="maid_mod_no" class="form-control" />
                <span asp-validation-for="maid_mod_no" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="maid_Loc" class="control-label"></label>
                <input asp-for="maid_Loc" class="form-control" />
                <span asp-validation-for="maid_Loc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="maid_Salary" class="control-label"></label>
                <input asp-for="maid_Salary" class="form-control" />
                <span asp-validation-for="maid_Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
